/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient,
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%));
  background-repeat: no-repeat;
  font-family: var(--main-font);
  font-size: var(--main-font-size, 18px);
  background-size: cover;
  padding: 100px 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0
    clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: #fff;
  font-family: var(--accent-font, sans-serif);
  border: 2px solid #000;
  inline-size: var(--section_inline-size, 50vw);
}

.header_headline {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  cursor: pointer;
}

.header_text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  inline-size: var(--section_inline-size, 50vw);
  display: grid;
  gap: 50px;
  justify-self: center;
  margin-block-start: 100px;
}

.card {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

.card-title {
  font-size: inherit;
  border: 2px solid #000;
  border-block-end: none;
  padding: 3px 10px;

}

.card-cover {
  position: relative;
  display: flex;
  border: 2px solid #000;
  aspect-ratio: 1 / 1;
  overflow-y:  hidden;
}

.img {
  inline-size: 100%;
  object-fit: cover;
}

.img-free_track {
  filter: saturate(0.8);
  object-position: bottom;
}

.card-logo {
  position: absolute;
  inset: 0;
  padding-block-start: 25px;
  padding-inline-end: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  text-align: end;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size, 14px);
  opacity: 0.5;
  text-shadow: 0 0 2px var(--logo_stroke-color, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--logo_stroke-color)) or
    (-webkit-text-stroke: 1px var(--logo_stroke-color))
) {
  .card-logo {
    text-shadow: none;
    -text-stroke: 1px var(--logo_stroke-color, #fff);
    -webkit-text-stroke: 1px var(--logo_stroke-color, #fff);
  }
}

.card_text-block {
  padding: 25px;
  border: 2px solid #000;
  border-block-start: none;
  line-height: 21px;
  font-size: 18px;
}

.card_button_container {
  display: flex;
  justify-self: end;
  padding: 25px 0 25px 0;
  block-size: 38px;
  border: none;
  align-items: center;
}

.icon {
  width: 21px;
  z-index: 1;
  mix-blend-mode: difference;
}

/*--------------------buttons-----------------------*/

.button {
  color: var(--button-color, #fff);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  border: 2px solid black;
  overflow: hidden;
  transition: box-shadow 0.4s;
  
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);

}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform-origin: left;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: translateX(0%);
}


.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size, 14px);
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
}

.card__like-button {

  inline-size: 130px;
  block-size: 38px;
}

.footer_button {
  inline-size: clamp(100px);
  padding-block: 13px;
  gap: 15px;
}

.dialog_button {
  inline-size: 100%;
  padding-block: 11px;
}

.like-icon {
  block-size: 34px;
  inline-size: 39px;
}


.card__icon-button {
  block-size: 34px;
  inline-size: 45px;
  background-color: transparent;
  outline: none;
  border: none;
}


.card__icon-button:hover {
  outline: none;

  outline: 2px solid black;

}


/*--------------------/buttons-----------------------*/

.footer {
  justify-self: center;
  background-color: #fff;
  margin-top: 50px;
}

.dialog_window[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  inset: 50% 0;
  inline-size: clamp(21.313rem, 20.96rem + 1.5vw, 22.313rem);
  padding: 30px;
}

.dialog_content-container {
  display: flex;
  justify-items: center;
  gap: 20px;
  line-height: 150%;
}

.dialog_icon {
  mix-blend-mode: normal;
  min-inline-size: 39px;
  min-block-size: 39px;
}

.dialog_text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_form {
  inline-size: 100%;
}

.dialog_window[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.page:has(dialog[open]) {
  overflow-y: hidden;
  padding-inline-end: 15px; /* компенсация скрытия скролла */
}

@media (width <= 375px) {
  .footer_button {
    flex-direction: column;
    gap: 0;
  }

  .header {
    inline-size: 100%;
    margin-inline: 0;
    padding-inline: 0;
  }

  .header_headline {
font-size: 44px;
  }

  .main {
    inline-size: 100%;
    padding-inline: 0;
    margin-inline: 0;

  }
}
